<!-- Meta -->
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<!-- Styles -->
<link
  rel="stylesheet"
  href="/assets/dist/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
/>
<link rel="stylesheet" href="/assets/css/stylesheet.css" />
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="/assets/images/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="500x500"
  href="/assets/images/favicon.png"
/>
